.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.image {
  height: 104px;
  width: 152px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.lineHeight {
  flex-basis: 25%;
}

.lineOne {
  width: auto;
}

.lineTwo {
  width: 48px;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.lineFour {
  flex-basis: 75%;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 120px;
  gap: 0.5rem;
  margin-block-start: auto;
}
