:root {
  --skeleton-base-color: #ebebeb;
  --skeleton-highlight-color: #f5f5f5;
  --skeleton-highlight-size: 40px;
  --skeleton-pseudo-element-display: block;
  /* Replaced by JS */
  --skeleton-window-width: 0px;
  --skeleton-left: 0px;
  --skeleton-percentage: 0;
}

.loading-skeleton {
  background-color: var(--skeleton-base-color);
  position: relative;
  overflow: hidden;
}

.loading-skeleton::after {
  content: ' ';
  display: var(--skeleton-pseudo-element-display);
  position: absolute;
  top: 0;
  left: calc(0px - var(--skeleton-highlight-size));
  width: var(--skeleton-highlight-size);
  height: 100%;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(90deg,
      transparent 0%,
      var(--skeleton-highlight-color) 50%,
      transparent 100%);
  transform: translateX(calc((var(--skeleton-window-width) + var(--skeleton-highlight-size)) * calc(var(--skeleton-percentage) / 100) - var(--skeleton-left)));
}

@media (prefers-reduced-motion) {
  .loading-skeleton {
    --skeleton-pseudo-element-display: none;
  }
}