.react-loading-skeleton {
  --base-color: #ebebeb;
  --highlight-color: #f5f5f5;
  --highlight-size: 40px;
  --pseudo-element-display: block; /* Enable animation */
  --skeleton-window-width: 0px; /* Set via JS, the width of the window */
  --skeleton-percentage: 0%; /* Set via JS, the progress of the animation */
  --skeleton-left: 0px; /* Set via JS, the global left position of the element */
  --skeleton-top: 0px; /* Set via JS, the global top position of the element */
  --skeleton-width: 0px; /* Set via JS, the width of the element */

  background-color: var(--base-color);

  position: relative;
  overflow: hidden;
}

.react-loading-skeleton::after {
  content: ' ';
  display: var(--pseudo-element-display);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--highlight-size);
  height: 100%;
  background-repeat: no-repeat;
  background-image: var(
    --custom-highlight-background,
    linear-gradient(
      90deg,
      var(--base-color) 0%,
      var(--highlight-color) 50%,
      var(--base-color) 100%
    )
  );
  transform: translateX(var(--skeleton-percentage));
}

@media (prefers-reduced-motion) {
  .react-loading-skeleton {
    --pseudo-element-display: none; /* Disable animation */
  }
}